.Button {
  background-color: var(--primary);
  border-radius: 6px;
  border: 1px transparent;
  color: white;
  cursor: pointer;
  padding: 12px 24px;
}

.Button:hover {
  filter: brightness(95%);
}

.Button:disabled {
  cursor: not-allowed;
  filter: brightness(70%);
}
