.Notification {
  background-color: var(--warning);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px;
}

.Notification .center {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;
}
