@import-normalize;

:root {
    --dark: #121724;
    --gray: #37404d;
    --green-bg: #003634;
    --green: #007855;
    --red-bg: #421c28;
    --red: #a11f2d;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    background-color: var(--dark);
    color: whitesmoke;
    font-family: monospace;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}
