@import-normalize;

:root {
    --gray: #37404d;
    --green-bg: #003634;
    --green: #007855;
    --red-bg: #421c28;
    --red: #a11f2d;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #121724;
    color: whitesmoke;
    font-family: monospace;
    margin: 0;
    font-size: 16px;
}

#app {
    display: flex;
}
